*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}
.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;

}
.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: #293462;
}

.menu{
    float: right;
}
nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #5FD068;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 80px;
}

.kolom.deskripsi{
    font-size: 20px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    color: #293462;
    width: 100%;
    line-height: 100px;
}


h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 10px;
    color: #293462;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru{
    background: #92B4EC;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover{
    background: #FF5D5D;
    text-decoration:none;
}

a.tbl-pink{
    background: #FF5D5D;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover{
    background: #92B4EC;
    text-decoration:none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.Tengah{
    text-align: center;
    width: 100%;
}

.Portofolio-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-Portofolio{
    width: 20%;
    margin: 0 auto;
}

.kartu-Portofolio img{
    width: 100%;
    border-radius: 50%;
}

.kartu-Portofolio p{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #5FD068;
}

.Tengah{
    text-align: center;
    width: 100%;
}
.Gallery-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.Kartu-Gallery{
    width: 20%;
    margin: 0 auto;
}

.Kartu-Gallery img{
    width: 100%;
    border-radius: 50%;
}

.Kartu-Gallery p{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #5FD068;
}

#Contact{
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #5FD068;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width:991.98px){
    .wrapper{
        width: 90%;
    }

    .logo a{
        display: block;
        width: 100%;
        text-align: center;
    }

    .nav menu{
        width: 100%;
        margin: 0;
    }

    .nav menu ul{
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    .nav menu ul li{
        display: inline-block;
        float: none;
    }

    section{
        display: block;
    }
    
    section img{
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-Portofolio {
        width: 50%;
    }

    .Kartu-Gallery {
        width: 50%;
    }
    
}

